.heroWrapper{
    display: flex;
    gap: 6%;
    align-items: center;
    justify-content: center;
    /* background-color: #b1e58c; */
    background-color: #540474;
    color: #fff;
    padding: 4% 4%;
}
.heroWrapper div h1{
    margin-bottom: 12px;
}
.heroWrapper div p{
    margin-bottom: 12px;
}
.heroWrapper div button{
    padding: 12px 6px;
    color: #000;
    /* background-color: #131313; */
    background-color: #54fa61;
    border: 1px solid #131313;
    border-radius: 10px;
    width: 128px;
}
.heroWrapper .imgWrapper{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.heroWrapper .imgWrapper img{
    width: 80%;
    border-radius: 50%;
}

@media screen and (max-width:910px) {
    .heroWrapper{
        flex-wrap: wrap;
        padding-top:20%;
    }
    .heroWrapper .imgWrapper img{
        width: 90vw;
        
    }
    .heroWrapper .imgWrapper{
    margin: 4% 0;
}
    }