.footerWrapper{
    display: flex;
    align-items: center;
    padding: 6% 10%;
    background-color: #131313;
    justify-content: space-between;
}
.footerWrapper .footerContent p{  
    color: #54fa61;
    text-decoration: underline;
    font-size: 20px;
    padding-bottom: 6px;
}

.footerWrapper .footerContent{
    display: flex;
    flex-direction: column;
}

.footerWrapper .footerContent a{
    color: #54fa61;
    text-decoration: none; 
    padding-bottom: 4px;
}

@media screen and (max-width:910px) {
    .footerWrapper{
        flex-wrap: wrap;
        gap: 20px;
    }
}